@media (prefers-reduced-motion: no-preference) {
  .spinner {
    -webkit-animation: spinner-spin infinite 15s linear;
    animation: spinner-spin infinite 15s linear;
  }
}

@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TODO: Fix spin animation on mobile. /*
@-webkit-keyframes spinner-spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

/* Bypassing the Material UI styling API.
   TODO: Fix this.
*/

.MuiTableCell-head, .MuiTableCell-body {
  color: #c8d1ffde !important;
}

.MuiInputBase-input {
  color: #c8d1ffde !important;
}